body {
	    direction: rtl;
    text-align: right;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ff9800;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

h1 {
    font-size: 36px;
    margin: 10px 0;
}

h2 {
    font-size: 24px;
    margin: 20px 0;
}

p {
    font-size: 18px;
    line-height: 1.6;
}

a {
    color: #ff9800;
    text-decoration: none;
}

.article-icon {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin-right: 10px;
}
.article-content { display: none; }